@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dominant Color (60%) – Soft Light Blue (#E3F2FD) */
/* Secondary Color (30%) – Slate Gray (#607D8B) */
/* Accent Color (10%) – Coral (#FF6F61) */

.active {
  color: #FF6F61 !important;
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}